In [26]:
#Cargar la biblioteca pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#Importante para la actividad
import seaborn as sns
import scipy.stats

In [27]:
df = pd.read_csv('master.csv')

In [28]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [29]:
dfmexico = df[df["country"] == "Mexico"]

In [30]:
df2015 = dfmexico[dfmexico["year"] == 2015]

In [31]:
df2015m = df2015[df2015["sex"] == "female"]

In [32]:
df2015h = df2015[df2015["sex"] == "male"]

In [43]:
#x1: suicidios de mujeres en mexico 2015
#x2: suicidios de hombres en mexico 2015
#n1: poblacion de mujeres
#n2: poblaci√≥n de hombres
x1 = sum(df2015m["population"])
x2 = sum(df2015h["population"])
n1 = sum(df2015m["suicides_no"])
n2 = sum(df2015h["suicides_no"])
p1 = x1/n1
p2 = x2/n2
#Prubeba de proporciones
#Estadisitoc de pruba
p = (x1 + x2)/(n1 + n2)
#Z calculada
z = (p1 + p2)/(p*(1 - p)*(1/n1 + 1/n2))
#La z alpa = 0.5
if

-0.1706282610615717